body {
    font-family: Arial, sans-serif;
    color: #132743;
    background: #ffcbcb;

}

.body {
    background-image: url("image/cokepic1.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 90% center;;
    background-color: #ffcbcb;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.header {
    padding: 20px 0;
    background-color: #ffb5b5;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 26px;
    color: #132743;
    text-decoration: none;
    font-weight: 300;
}

.navigate a {
    font-size: 20px;
    color: #132743;
    text-decoration: none;
    font-weight: 100;
    margin-left: 50px;
}

.navigate a:hover,
.navigate a.active {
    color: #407088;

}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.home-information {
    max-width: 600px;
}

p {
    font-size: larger;
}

.home-information h1 {
    font-size: 50px;
    font-weight: 500;
}

.home-information h2 {
    font-size: 30px;
    font-weight: 700;
    color: #130338;
    line-height: 1, 5px;
}

button {
    background: #130338;
    border: 2px solid #ffb5b5;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600px;
    letter-spacing: 1px;
    padding: 10px
}

button a {
    color: #ffb5b5;
    text-decoration: none;
    font-weight: 600px;
}

button a:hover {
    background: #ffb5b5;
    color: #130338;
}

button:hover {
    background: #ffb5b5;
    border: 2px solid #130338;
}

.container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}

.social-media {
    line-height: 1, 5px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-icons {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-right: 5px;
}

.social-icons a {
    display: flex;
    position: relative;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(2.1);
}

.logo-skills {
    border-radius: 100px;
    width: 50px;
    display: block;
    align-items: center;
    transition: transform 0.3s;
}

.logo-skills:hover {
    transform: scale(1.5);
}

.logo-skill {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.service {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}

.perform {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}

.paragraph {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.topic {
    border: 2px solid #130338;
    text-align: center;
    border-radius: 20px;
}

.web {
    border: 2px solid #130338;
    text-align: center;
    border-radius: 20px;
}

.response {
    border: 2px solid #130338;
    text-align: center;
    border-radius: 20px;
}

.user {
    border: 2px solid #130338;
    text-align: center;
    border-radius: 20px;

}

.site {
    border: 2px solid #130338;
    text-align: center;
    border-radius: 20px;
}

.opt {
    border: 2px solid #130338;
    text-align: center;
    border-radius: 20px;
}

.engine {
    border: 2px solid #130338;
    text-align: center;
    border-radius: 20px;
}

.animation {
    border: 2px solid #130338;
    text-align: center;
    border-radius: 20px;
}

.version {
    border: 2px solid #130338;
    text-align: center;
    border-radius: 20px;
}

.back {
    border: 2px solid #130338;
    text-align: center;
    border-radius: 20px;
}

.pro {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.github {
    display: flex;
    flex-direction: column;
    border: 2px solid #130338;
    color: #130338;
    border-radius: 20px;
    padding: 10px 15px;
    text-decoration: none;

}

.live-demo {
    border: 2px solid #130338;
    color: #130338;
    border-radius: 20px;
    padding: 10px 15px;
    text-decoration: none;
}

span.live {
    font-size: 15px;
    font-weight: bold;
    color: #130338;
    text-align: center;
}

.weather-app {
    border: 2px solid #130338;
    border-radius: 10px;
    max-width: 600px;
    padding: 30px 40px;
}

.convect {
    border: 2px solid #130338;
    border-radius: 10px;
    max-width: 600px;
    padding: 30px 40px;
}

.page {
    border: 2px solid #130338;
    border-radius: 10px;
    max-width: 600px;
    padding: 30px 40px;
}

.expense {
    border: 2px solid #130338;
    border-radius: 10px;
    max-width: 600px;
    padding: 30px 40px;
}

.yoga {
    border: 2px solid #130338;
    border-radius: 10px;
    max-width: 600px;
    padding: 30px 40px;
}

.img-project {
    width: 150px;
    border-radius: 25px;
    transition: transform 0.3s;
}

.img-project:hover {
    transform: scale(1.5);
}

.experiences {
    max-width: 600px;
    display: flex;
    justify-content: space-around;

}

.box {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    background: linear-gradient(#ffcbcb, #ffb5b5);

    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: #ffb5b5;
}

hr {
    color: #ffb5b5;
}

.exp {
    border: 2px solid #130338;
    border-radius: 50px;
    max-width: 600px;
    padding: 30px 40px;
}

svg {
    display: flex;
    justify-content: center;
    width: 50px;
}

.java-verified,
.css-verified,
.html-verified {
    display: flex;
    flex-direction: row;

}

.html,
.css,
.java {
    border: 2px solid #130338;
    border-radius: 50px;
    padding: 30px 40px;
}

.line {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}